* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    align-items: center;
    background-color: #4D5BBD;
}

.title {
    font-family: 'Poppins', sans-serif;
    height: 30vh;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
    gap: 16px;
}
.title h1{
    font-size: 45px;
}

.content{
    background-color: #E2DFDF;
    height: 100%;
    border-radius: 25px 25px 0 0;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 20px;
}
ul li .li-decoration{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(77, 91, 189, 82%);
}
ul li .li-decoration img{
    width: 25px;
}

ul li {
    background-color: white;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-radius: 5px;
}
.btnAction{
    border: none;
    background-color: white;
    margin-right: 14px;
}
.btnAction img {
    width: 20px;
}

#windowEditBack{
position: fixed;
   top: 0;
   background-color: #000;
   bottom: 0;
   left: 0;
   opacity: 0.9;
   z-index: 100;
   right: 0;
   display: none;
}

#windowEditBack.abrir {
   display: block !important;
}

#editWindow{
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 20px;
   width: 415px;
   border-radius: 12px;
   z-index: 200;
   display: none;
} 

#editWindow.abrir{
   display: block !important;
}