* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    align-items: center;
    background-color: #4D5BBD;
}

.title {
    font-family: 'Poppins', sans-serif;
    height: 30vh;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
    gap: 16px;
}
.title h1{
    font-size: 45px;
}

.content{
    background-color: #E2DFDF;
    height: 100vh;
    border-radius: 25px 25px 0 0;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 20px;
}
ul li .li-decoration{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(77, 91, 189, 82%);
}
input[type=checkbox] {
    scale: 1.8;
    margin-left: 20px;
    
}

input:checked{
    accent-color:  #4D5BBD;
}

ul li {
    background-color: white;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-radius: 5px;
}
.btnAction{
    border: none;
    background-color: white;
    margin-right: 14px;
}
.btnAction img {
    width: 20px;
}

.btnAcao{
    border: none;
    background-color: white;
    margin-right: 5px;
}
.btnAcao img{
    width: 15px;
}

.fa {
    color: white;
}

#openAddWindow{
    width: 90%;
    height: 58px;
    background: #374393;
    border: none;
    margin: 22px;
    border-radius: 5px;
}


#windowEditBack{
    position: fixed;
   top: 0;
   background-color: rgba(0, 0, 0, 0.849);
   bottom: 0;
   left: 0;
   opacity: 0.9;
   z-index: 100;
   right: 0;
   display: none;
}

#windowEditBack.abrir {
   display: block !important;
}

/* Modal edição */

#editList{
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 20px;
   width: 350px;
   border-radius: 12px;
   z-index: 200;
   display: none;

   background-color: white;
} 

#editList.abrir{
    display: block !important;
}

#editList #btnEditWindowClose , #AddWindowDiv #btnAddClose {
    position: absolute;
    background-color: transparent;
    border: none;
}



.fa-remove {
    color: #374393;
    font-size: 20px;
}

#btnAddClose .fa-remove {
    color: #fff;
    font-size: 20px;
}

#editList form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#editList form label {
    font-size: 20px;
}

#editList form input[type=text] {
    width: 78%;
    height: 30px;
    margin-left: 8px;
    padding: 20px;
    border: 1px solid rgba(88, 87, 87, 0.596);
    border-radius: 5px;
    background-color: white;
    font-size: 18px;
}

#editList form input[type=button] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #374393;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}


#AddWindowDiv{
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 20px;
   border-radius: 12px;
   z-index: 200;
   display: none;
   width: 90%;
   height: 30%;
   background-color:#4D5BBD;

} 

#AddWindowDiv.abrir{
   display: block !important;
   
}


#btnAddTask{
    background-color: white;
    border: none;
    color: #374393;
    font-weight: bold;
    height: 43px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: auto;

}

#inputNewTask{
    display: flex;
    margin: 30px auto 20px auto;
    height: 60px;
    width: 97%;
    border-radius: 5px;
    border: none;
}